body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #141E30, #243B55);
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    margin-top: 8px;
    background: linear-gradient(to right, #141E30, #243B55);
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.container {
    margin-top:55px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.camera-section, .result-section {
    background: white;
    padding: 25px;
    width: 40%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    text-align:center;
}
.camera-section > h2 {
    margin-bottom: 10px;
    color: rebeccapurple;
    text-align: center;
}
.result-section > h2 {
        color: rebeccapurple;
        text-align: center;
        background-color:beige;
        border-radius:12px;
        padding:5px;
}
#cameraFeed {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background: #000;
    margin-bottom: 15px;
}

#detectBtn {
    width: 100%;
    padding: 12px;
    background: rebeccapurple;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

    #detectBtn:hover {
        background: mediumpurple;
    }

#songList {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

#songList li {
        background: #eef1f9;
        padding: 12px;
        margin: 6px 0;
        border-radius: 8px;
}

#songList a{
    text-decoration: none;
}
#songList li:hover {
    background-color:skyblue;
}
